

.form-group {
    margin-bottom: 10px; /* Increased margin-bottom to 20px */
}

label {
    display: block;
    margin-bottom: 10px; /* Increased margin-bottom to 10px */
    font-size: 14px; /* Increased font size to 18px */
}

input[type="text"],
input[type="password"] {
    padding: 8px; /* Increased padding to 8px */
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px; /* Increased font size to 16px */
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 6px 12px; /* Increased padding */
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px; /* Increased font size to 18px */
}

.auto-style1 {
    font-size: 100%; /* Increased font size to 200% */
}

.auto-style2 {
    font-size: 100%; /* Increased font size to 200% */
}
